@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

/* Para todas as páginas*/
body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	background: #201b2c;
}

body * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: orange;
}

a:visited {
	color: orange;
}

header {
	/*width: 100vw;*/
	height: 8vh;
	border-bottom: 0.2px solid white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 24px;
	text-align: center;
	margin: auto;
	padding: 32px;
}

.logo-maxima {
	width: 30vw;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0px;
}

.logo-maxima img {
	width: 20vw;
	margin: auto;
}

nav {
	width: 60vw;
	display: flex;
	gap: 42px;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	justify-content: space-around;
}

main {
	/*width: 100vw;*/
	padding: 20px;
}

main h1,
h2,
h3 {
	color: #00ff88;
}

main h1,
h2 {
	text-align: center;
}

footer {
	border-top: 0.2px solid white;
	/*width: 100vw;*/
	height: 8vh;
	padding: 32px;
	text-align: center;
}

footer p {
	display: block;
	color: #c0c0c0;
	margin: 0 auto;
}



/*Home page*/

.descricao {
	gap: 24px;
}

.descricao-inicio {
	color: #c0c0c0;
	display: flex;
	flex-direction: row;
	text-align: justify;
	gap: 24px;
}

.container-foto img {
	height: auto;
	border-radius: 10px;
}

.descricao-texto p {
	text-indent: 20px;
}

.servicos ul {
	padding: 0;
}

.servicos ul li {
	list-style-type: none;
}

.servicos ul li h3 {
	text-align: center;
}

.servicos ul li p {
	color: #c0c0c0;
	text-align: center;
}

/*	.servicos ul li p {
text-align: justify;
}
*/

.container-depoimentos {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.depoimento {
	border: 2px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	padding: 16px;
	margin: auto;
	text-align: justify;
}

.depoimento p {
	text-indent: 20px;
}

.depoimento::after {
	content: "";
	clear: both;
	display: table;
}

.depoimento img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}

.depoimento span {
	font-size: 20px;
	margin-right: 15px;
}

.paralelos {
	align-items: center;
	text-align: center;
}

.mapa {
	align-items: center;
	border-radius: 10px;
}


/*Para a página de reset da senha*/

.principal-esqueci-senha {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.conteudo-esqueci-senha {
	color: #c0c0c0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.conteudo-esqueci-senha h2 {
	margin-bottom: 10px;
}

.area-esqueci-senha {
	width: 70%; 
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: center;
	justify-content: center;
}

.field-forgot-pass {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.btn-forgot-pass {
	width: 70%;
	padding: 16px 0px;
	margin: 25px 0px 25px 0px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #2b134b;
	background: #00ff88;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #00ff8052;
	font-size: 1.1rem;
}

.span-no-margin {
	margin: 0;
}

.preciso-de-ajuda {
	color: #c0c0c0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	margin-bottom: 20px;
}

.preciso-de-ajuda h3 {
	margin: 16px 0 5px 0;
}


/* Para a página de login e de cadastro*/

.main-login-signup {
	height: 84vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-login-signup {
	width: 50vw;
	height: 84vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.left-login-signup>h1 {
	font-size: 2rem;
	color: #00ff88;
	margin: 0;
}

.left-login-signup img {
	width: 35vw;
}

.right-login-signup {
	width: 50vw;
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background: #2f2841;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #00000056;
}

.card-signup {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background: #2f2841;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
	color: #00ff88;
	width: 100%;
	height: auto;
	font-weight: 800;
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.card-signup > h1 {
	color: #00ff88;
	font-weight: 800;
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.alternative {
	color: #c0c0c0;
}

label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #f0ffffde;
}

form {
	width: 100%;
	align-items: center;
	justify-content: center;
}

label > span {
	margin-bottom: 10px;
}

label > input {
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #514869;
	color: #f0ffffde;
	font-size: 1.1rem;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}

label > input::placeholder {
	color: #f0ffff94;
}

label > textarea {
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #514869;
	color: #f0ffffde;
	font-size: 1.1rem;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
	resize: none;
}

label > textarea::placeholder {
	color: #f0ffff94;
}

.nologin {
	color: #00ff88;
	text-align: center;
}

.btn-login-signup {
	width: 100%;
	padding: 16px 0px;
	margin: 25px 0px 25px 0px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #2b134b;
	background: #00ff88;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #00ff8052;
	font-size: 1.1rem;
}

.btn-login-signup:hover {
	background: #02d271;
	transition: all .3s ease-in-out;
}

.social-media {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	gap: 48px;
}

.social-media a {
	text-decoration: none;
}

.social-media img {
	width: 36px;
}

.social-media a:first-child img {
	margin-left: 0;
}

@media only screen and (min-width: 601px) and (max-width: 1280px) {
	header {
		height: 8%;
		width: 100%;
	}

	.logo-maxima {
		width: 30%;
	}

	.logo-maxima img {
		width: 100%;
	}

	nav {
		text-align: center;
		/*font-size: 4vh;*/
	}

	nav a {
		margin: auto;
	}

	.servicos ul li p {
		text-align: justify;
	}

	.main-login-signup {
		height: 84%;
		margin: 20px 0 20px 0;
	}

	.left-login-signup {
		height: 100%;
	}

	.left-login-signup-image {
		width: 80%;
		height: auto;
		margin: 8px;
	}

	.right-login-signup {
		width: 50%;
		height: auto;
		align-items: center;
	}

	.card-login {
		width: 90%;
		height: auto;
		text-align: center;
	}

	.card-signup {
		width: 90%;
		height: auto;
		text-align: center;
	}

	footer {
		height: 8%;
	}

	.descricao-inicio {
		display: flex;
		flex-direction: column;
	}

	.container-foto {
		margin: auto;
	}
	
	.mapa {
		width: 600px;
		height: 450px;
	}

	.container-depoimentos {
		display: flex;
		flex-direction: column;
	}

}

@media only screen and (min-width: 301px) and (max-width: 600px) {

	header {
		height: 8%;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
		gap: 10px;
		margin-top: 0;
		padding: 8px;
	}

	.logo-maxima {
		width: 50%;
	}

	.logo-maxima img {
		width: 100%;
	}

	nav {
		width: 100%;
		text-align: center;	}

	nav a {
		margin: auto;
		font-size: 14px;
	}

	.main-login-signup {
		flex-direction: column;
		height: 84%;
		margin: 20px 0 20px 0;
		padding: 0;
	}

	.left-login-signup>h1 {
		display: none;
	}

	.left-login-signup {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.left-login-signup-image {
		width: 80%;
		margin: 8px;
	}

	.right-login-signup {
		width: 100%;
		height: auto;
		align-items: center;
	}

	.left-login-signup-image {
		width: 50vw;
		margin: 8px;
	}

	.card-login {
		width: 90%;
		text-align: center;
		gap: 12px;
		font-size: 14px;
	}

	.card-login label input::placeholder {
		font-size: 14px;
	}

	.card-signup {
		width: 90%;
		text-align: center;
	}

	.servicos ul li p {
		text-align: justify;
	}

	footer {
		height: 8%;
		font-size: 14px;
	}

	.descricao-inicio {
		display: flex;
		flex-direction: column;
	}

	.area-esqueci-senha {
		width: 100%;
	}

	.btn-forgot-pass {
		width: 100%;
	}

	.container-foto {
		margin: auto;
	}

	.mapa {
		width: 300px;
		height: 300px;
	}

	.container-depoimentos {
		display: flex;
		flex-direction: column;
	}

	#message {
		font-size: 14px;
	}

	#message::placeholder {
		font-size: 14px;
	}

	#sendmessage {
		font-size: 14px;
	}

}

@media only screen and (max-width: 300px) {

	header {
		height: 8%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 10px;
		margin-top: 0;
		padding: 8px;
	}

	.logo-maxima {
		width: 50%;
	}

	.logo-maxima img {
		width: 100%;
	}

	nav {
		width: 100%;
		text-align: center;
	}

	nav a {
		margin: auto;
		font-size: 12px;
	}

	.main-login-signup {
		flex-direction: column;
		height: 84%;
		margin: 20px 0 20px 0;
		padding: 0;
	}

	.left-login-signup>h1 {
		display: none;
	}

	.left-login-signup {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.left-login-signup-image {
		width: 80%;
		margin: 8px;
	}

	.right-login-signup {
		width: 100%;
		height: auto;
		align-items: center;
		font-size: 12px;
	}

	.left-login-signup-image {
		width: 50vw;
		margin: 8px;
	}

	.card-login {
		width: 90%;
		text-align: center;
		font-size: 10px;
	}

	.card-login label input::placeholder {
		font-size: 12px;
	}

	.card-signup {
		width: 90%;
		text-align: center;
	}

	.card-signup label input::placeholder {
		font-size: 12px;
	}
	

	footer {
		height: 8%;
		font-size: 12px;
	}

	.descricao-inicio {
		display: flex;
		flex-direction: column;
	}

	.area-esqueci-senha {
		width: 100%;
	}

	.preciso-de-ajuda {
		text-align: justify;
	}

	.cpf-forgot::placeholder {
		font-size: 12px;
	}

	.container-foto {
		margin: auto;
	}
	
	.btn-login-signup {
		margin: auto;
		margin-top: 10px;
		font-size: 14px;
	}

	.forgot {
		margin: 0;
	}

	.btn-forgot-pass {
		width: 100%;
		font-size: 14px;
	}

	#message {
		font-size: 12px;
	}

	#message::placeholder {
		font-size: 12px;
	}

	#sendmessage {
		font-size: 12px;
	}

	.mapa {
		width: 200px;
		height: 200px;
	}

	.container-depoimentos {
		display: flex;
		flex-direction: column;
	}
}